@charset "UTF-8";
#banner-contacto, .banner-iniciacion, .banner-profesorado, .banner-instructorado {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

.iniciacion div, .grid_container .profesorado .contiene-info-curso, .grid_container .instructorado .contiene-info-curso {
  width: 90%;
  /* Si se da un margen*/
  margin: 0 0 0 5%;
  background-color: beige;
  padding-bottom: 5%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn-form {
  color: beige;
  font-size: 1.5em;
  background-color: rgb(163, 58, 54);
  display: block;
  width: 23%;
  padding: 1%;
  border-radius: 5px;
  margin-left: 40%;
}
.btn-form:hover {
  background-color: #c40909;
}

.btn-mas {
  background-color: rgb(87, 11, 24);
  color: beige;
  width: 15%;
  height: 5%;
  padding-bottom: 1%;
  padding: 0;
}
.btn-mas:hover {
  background-color: #c40909;
}

.cuadro-texto {
  /*cuadros de informacion sobre el curso con fotos*/
  background-image: linear-gradient(rgba(143, 13, 13, 0.6), rgb(214, 99, 41));
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 5%;
}

.cuadro-texto2 {
  background-image: linear-gradient(rgba(143, 13, 13, 0.6), rgba(255, 81, 0, 0.5));
  padding: 5%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

#formulario .container { /*formulario*/
  border: 2px solid #800000;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  /* Si se da un border-radius*/
  border-radius: 5%;
  padding: 20px;
  background-color: #e68671;
  width: 90%;
  white-space: nowrap;
  /*.form-group {label{margin-left:6%}}*/
  margin-bottom: 10%;
}
#formulario .container h5 {
  color: rgb(87, 11, 24);
  font-size: 1.8em;
  font-weight: bolder;
  text-align: center;
  width: 150%;
  margin-bottom: 5%;
}
#formulario .container h6 {
  color: rgb(87, 11, 24);
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #formulario .container {
    width: 135%;
    margin-left: -17%;
  }
  #formulario .container h5 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1280px) {
  #formulario .container {
    width: 150%;
    margin-left: -30%;
  }
}
#formulario .container .rotulo {
  font-size: 1.5em;
  text-align: center;
  margin-right: 10%;
}
#formulario .container .col-md-6 h4 {
  color: rgb(87, 11, 24);
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: radial-gradient(circle, rgb(219, 205, 121), rgb(214, 99, 41));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 0.7em;
}

header {
  background-image: linear-gradient(45deg, rgba(252, 232, 165, 0.973), rgb(153, 31, 31));
}
@media screen and (max-width: 767px) {
  header {
    /* No mostrar nombre e imagen del menú desktop-tablet */
  }
  header div:first-child {
    display: none;
  }
}

#imagen-menu {
  width: 25%;
  height: 25%;
  /* Si se da un margen*/
}

#logo-principal {
  width: 100%;
  height: 100%;
  /* Si se da un margen*/
} /*logo principal menu movil*/
/* estilos del titulo principal SAMADHI YOGA y subtitulo */
.name {
  color: rgb(240, 199, 123);
  font-size: 1.8em;
  font-weight: bolder;
  align-content: center;
  text-shadow: 1px 1px 1px rgba(39, 39, 39, 0.8);
  white-space: nowrap;
}

/*subtitulo que aparece cuando el menú colapsa*/
#subname-Mb {
  color: beige;
  font-size: 1.5em;
  text-align: center;
  margin-left: 9%;
}

.search-boton {
  width: 35%;
  height: 10%;
  /* Si se da un margen*/
  font-size: 1em;
  line-height: 1%;
}

@media screen and (min-width: 768px) {
  #logo-principal0 {
    width: 23%;
    height: 22%;
    /* Si se da un margen*/
  } /*logo principal*/
  header div:first-child { /*nombre en el menu tablet*/
    display: flex;
    margin-left: 2%;
  }
  #search {
    /* Si se da un margen*/
    margin: 3% 0 0 8%;
    display: flex;
  }
  .search-input {
    font-size: 1em;
    font-weight: bolder;
    width: 50%;
    height: 10%;
    /* Si se da un margen*/
  }
  nav {
    justify-content: center;
  }
  nav div .name {
    display: none;
  }
  .navbar-propio {
    margin-left: 4%;
  }
  .navlink-propio {
    text-align: center;
  }
  .name { /*estilo de titulos en el menú*/
    color: rgb(240, 199, 123);
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    margin-left: 10%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  }
  .name span {
    font-size: 2em;
  }
  .name p {
    font-size: 1em;
  }
  #subname-Mb {
    display: none;
  } /*solo debe verse en movil*/
}
@media screen and (min-width: 1280px) {
  #logo-principal0 {
    width: 16%;
    height: 14%;
    /* Si se da un margen*/
    margin: 0 0 0 2%;
  } /*logo principal*/
  .name { /*estilo de titulos en el menú*/
    color: rgb(240, 199, 123);
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-left: 18%;
  }
  #search {
    /* Si se da un margen*/
    margin: 1% 0 0 17%;
  }
  .search-input {
    width: 40%;
  }
}
.bg-menu {
  background-color: rgb(163, 58, 54);
}

#current { /* opcion activa en el menú*/
  color: aliceblue;
}

.navbar-propio .navlink-propio {
  color: beige;
  font-size: 1.5em;
  font-weight: bolder;
}

.navitem-propio a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: beige;
}

.navitem-propio a:hover {
  background-color: darkorange;
  color: white;
  animation: pulse 0.5s;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  background-color: rgb(163, 58, 54);
  padding-top: 2%;
}
.footer ul {
  list-style: none;
}
.footer #logo-footer-img {
  width: 90%;
  height: 40%;
  /* Si se da un margen*/
  margin: 10% 0 0 20%;
}
.footer #logo-footer {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 35%;
}
.footer #logo-footer #name-footer {
  color: rgb(240, 199, 123);
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  margin-top: 5%;
  margin-left: 0.5em;
}
.footer #logo-footer #name-footer span {
  letter-spacing: 0.3em;
}
.footer #logo-footer #name-footer p {
  margin-left: 15%;
}
.footer #menu-footer {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 10%;
  margin: 8% 0 0 62%;
}
.footer #menu-footer span {
  display: none;
}
.footer #menu-footer a {
  color: beige;
  font-size: 1.5em;
  text-align: center;
}
.footer #menu-footer a:hover {
  color: darkorange;
}
.footer #sitios-footer {
  margin-top: 2%;
  grid-column: 1/4;
  grid-row: 2/3;
}
.footer #sitios-footer p {
  color: rgb(240, 199, 123);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.footer #sitios-footer a {
  color: rgb(240, 199, 123);
  font-size: 1.5em;
  text-align: center;
  margin-left: -10%;
}
.footer #sitios-footer a:hover {
  color: rgb(255, 72, 0);
}
.footer #pie {
  grid-column: 1/4;
  grid-row: 3/4;
  color: beige;
  font-size: 1.2em;
  background-color: rgb(87, 11, 24);
  align-content: center;
  text-align: center;
}
.footer #pie p {
  margin-top: 2%;
}

#pie-dk-tbl {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 70% 30%;
  }
  .footer #logo-footer-img {
    width: 60%;
    height: 47%;
    /* Si se da un margen*/
    margin: 10% 0 0 20%;
  }
  .footer #logo-footer {
    margin-left: 10%;
  }
  .footer #logo-footer #name-footer {
    margin-left: 0.6em;
  }
  .footer #logo-footer #name-footer span {
    letter-spacing: 0.8em;
  }
  .footer #logo-footer #name-footer p {
    margin-left: -7%;
  }
  .footer #menu-footer {
    margin: 5% 0 0 25%;
  }
  .footer #menu-footer a {
    color: beige;
    font-size: 1.5em;
    text-align: center;
  }
  .footer #menu-footer a:hover {
    background-color: darkorange;
    color: white;
  }
  .footer #sitios-footer {
    margin: 7% 0 0 5%;
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .footer #sitios-footer p {
    color: rgb(240, 199, 123);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }
  .footer #sitios-footer a {
    color: rgb(240, 199, 123);
    font-size: 1.5em;
    text-align: center;
    margin-left: -10%;
  }
  .footer #pie {
    grid-row: 2/3;
  }
  #pie-dk-tbl {
    display: block;
  }
  #pie-mv {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    background-color: rgb(163, 58, 54);
  }
  .footer #logo-footer-img {
    width: 32%;
    height: 75%;
    /* Si se da un margen*/
    margin: 2% 0 0 10%;
  }
  .footer #logo-footer {
    display: flex;
  }
  .footer #logo-footer #name-footer {
    margin-left: 0.6em;
    margin-top: 15%;
  }
  .footer #logo-footer #name-footer span {
    letter-spacing: 1em;
  }
  .footer #menu-footer {
    display: flex;
    margin-left: 0;
  }
  .footer #menu-footer span {
    display: block;
  }
  .footer #menu-footer a {
    color: beige;
    font-size: 1.5em;
    text-align: left;
  }
  .footer #sitios-footer {
    margin-top: 0%;
  }
  .footer #sitios-footer p {
    color: rgb(240, 199, 123);
    font-size: 1.8em;
    text-align: left;
  }
  .footer #sitios-footer a {
    color: rgb(240, 199, 123);
    font-size: 1.5em;
    text-align: left;
    margin-left: 0;
  }
}
/*-----------------------------------------INDEX-------------------------------------------------*/
/*grid principal con todas las secciones*/
.grid_container {
  /*esta es la grilla para movil*/
  display: grid;
  grid-template-rows: 10% repeat(3, 1fr) auto;
  grid-template-areas: "title-first" "profesorado" "instructorado" "iniciacion" "info-escuela";
  /*///////estilado info de cursos//////*/
}
.grid_container #title-first { /*primer titulo del main con imagen de fondo*/
  width: 100%;
  height: 100%;
  /* Si se da un margen*/
  margin: 6% 0;
  grid-area: title-first;
  background-image: url(../img/banner-inicio.jpg);
  background-size: cover;
}
.grid_container #title-first .title-h1 {
  color: beige;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(143, 13, 13, 0.6);
  padding: 6% 0;
}
.grid_container #title-first .title-h2 {
  color: beige;
  font-size: 2em;
  text-align: center;
  background-color: rgba(143, 13, 13, 0.6);
  padding: 5% 0;
}
/*.grid_container {*/
/*}  */
.profesorado,
.instructorado,
.iniciacion { /*etiquetita de cursos*/ }
.profesorado div div,
.instructorado div div,
.iniciacion div div {
  color: aliceblue;
  font-size: 1.8em;
  font-weight: bolder;
  background-color: rgb(214, 99, 41);
  width: 5em;
  /* Si se da un margen*/
  margin: 0 0 5% 35%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  /* Si se da un border-radius*/
  border-radius: 0 0 5px 5px;
  padding: 1% 0;
}
.profesorado div div:hover,
.instructorado div div:hover,
.iniciacion div div:hover {
  background-color: #c40909;
}
.profesorado h3,
.instructorado h3,
.iniciacion h3 {
  font-size: 2em;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profesorado div p,
.instructorado div p,
.iniciacion div p {
  font-size: 2em;
}
.profesorado a,
.instructorado a,
.iniciacion a {
  color: #000000;
  text-decoration: none;
}
.profesorado a:active,
.instructorado a:active,
.iniciacion a:active {
  color: #ff6600;
}
.profesorado.profesorado,
.instructorado.profesorado,
.iniciacion.profesorado {
  grid-area: profesorado;
  text-align: center;
}
.profesorado.instructorado,
.instructorado.instructorado,
.iniciacion.instructorado {
  grid-area: instructorado;
  text-align: center;
}
.profesorado.iniciacion,
.instructorado.iniciacion,
.iniciacion.iniciacion {
  grid-area: iniciacion;
  text-align: center;
  margin-top: 4%;
}

.profesorado:hover, .instructorado:hover, .iniciacion:hover {
  animation: pulse 1s;
}

.imagenes-cursos {
  width: 90%;
  height: auto;
  /* Si se da un margen*/
  margin: 18% 0 0 0;
  padding: 6px; /* Espacio interno alrededor de la imagen */
  background-color: beige;
  border: 2px solid #e41a1a;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  /* Si se da un border-radius*/
  border-radius: 5px;
}

.img-escuela {
  grid-area: img-escuela;
  margin-top: 10%;
}

#info-escuela {
  /* Si se da un margen*/
  margin: 10% 0;
  grid-area: info-escuela;
  text-align: center;
}
#info-escuela h2 {
  color: beige;
  font-weight: bolder;
  background-color: rgba(143, 13, 13, 0.6);
  padding: 4% 0;
}

#img-escuela2 {
  display: none;
}

/*//////////////////////////////MEDIA QUERIES PANTALLA MOVIL (index)////////////////////////////////*/
@media screen and (max-width: 767px) {
  #info-escuela {
    background-image: url(../img/loto2.png);
    background-size: cover;
    font-size: 1.5em;
  }
  #info-escuela p {
    color: black;
    font-weight: bolder;
    text-align: justify;
    width: 88%;
    /* Si se da un margen*/
    margin: 1% 0 0 6%;
    padding: 2%;
    border-radius: 5%;
  }
  .img-escuela {
    display: none;
  }
  #info-escuela p {
    display: none;
  }
  #info-escuela p:nth-of-type(-n+2) {
    display: block;
  }
}
/*///////////////////////////////MEDIA QUERY PANTALLA TABLET (index)///////////////////////////////////*/
@media screen and (min-width: 768px) {
  .grid_container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 0px;
    grid-template-areas: "title-first title-first" "profesorado instructorado" "iniciacion iniciacion" "info-escuela img-escuela";
  }
  .grid_container #title-first {
    height: auto;
  }
  .grid_container #title-first .title-h1 {
    padding: 9% 0;
    font-size: 4em;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
    width: 100%;
  }
  .grid_container #title-first .title-h2 {
    padding: 5% 0;
    font-size: 4em;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
    width: 100%;
  }
  #imagen-menu,
  #name-Mb,
  .busqueda {
    display: none;
  }
  main.grid_container {
    display: grid;
  }
  .imagenes-cursos {
    width: 90%;
    height: 60%;
    /* Si se da un margen*/
    margin: 0%;
    display: inline-block;
  }
  .iniciacion img {
    width: 75%;
    /* Si se da un margen*/
    margin: 5% 0 0 0;
  }
  #img-escuela2 {
    display: block;
  }
  #img-escuela2 img {
    width: 80%;
    height: auto;
    /* Si se da un margen*/
    margin: 0% 0 0 0%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    /* Si se da un border-radius*/
    border-radius: 5%;
  }
  /*///////////////////////////////estilado info de cursos TABLET//////////////////////////////////////////*/
  .profesorado div div,
  .instructorado div div {
    margin-left: 35%;
  }
  .iniciacion div { /*es como .contiene-info-curso*/
    width: 64%;
    /* Si se da un margen*/
    margin: 0 0 0 18%;
    background-color: beige;
    padding-bottom: 5%;
    text-align: center;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .iniciacion div div {
    color: beige;
    font-size: 1.8em;
    font-weight: bolder;
    background-color: rgb(163, 58, 54);
    width: 5em;
    /* Si se da un margen*/
    margin: 0 0 5% 40%;
  }
  .img-escuela {
    display: none;
  }
  #info-escuela {
    font-size: 1.5em;
    color: beige;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
    width: 190%;
    /* Si se da un margen*/
    margin: 22% 0 10% 9%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    padding-bottom: 10%;
  }
  #info-escuela h2 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
    width: 100%;
  }
  #info-escuela p {
    font-size: 1.4em;
    text-align: justify;
    width: 90%;
    /* Si se da un margen*/
    margin: 2% 0 0 5%;
    padding-bottom: 4%;
  }
}
/*////////////////////////MEDIA QUERIES PANTALLA DESKTOP (index)/////////////////////////////*/
@media screen and (min-width: 1280px) {
  #title-first .title-h1, #title-first .title-h2 {
    font-size: 5em;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
  }
  /*///////////////////////////////estilado info de cursos Desktop//////////////////////////////////////////*/
  /*etiquetita de curso*/
  .profesorado div div,
  .instructorado div div {
    margin-left: 42%;
  }
  .iniciacion div div {
    width: 5em;
    /* Si se da un margen*/
    margin: 0 0 5% 44%;
  }
  .img-escuela {
    display: block;
  }
  .img-escuela img {
    width: 90%;
    height: auto;
    /* Si se da un margen*/
    margin: 20% 0 0 3%;
    border-radius: 5%;
  }
  #info-escuela {
    color: beige;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
    width: 100%;
    /* Si se da un margen*/
    margin: 12% 0 10% 9%;
  }
  #img-escuela2 {
    display: none;
  }
}
/*/////////////////////FIN MEDIA QUERIES (index)////////////////////*/
/*-------------------------------pagina de historia ("nosotros")--------------------------------------------*/
.background {
  background-image: url("../img/playa-amanecer.jpeg");
  background-size: cover;
}

.contiene {
  display: grid;
  padding-top: 5%;
  grid-template-columns: 80%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "mision" "vision" "historia";
  row-gap: 0.5%;
  justify-content: center;
  margin-bottom: 10%;
}
.contiene .mision {
  grid-area: mision;
}
.contiene .vision {
  grid-area: vision;
}
.contiene .historia {
  grid-area: historia;
}
.contiene .vision, .contiene .mision, .contiene .historia { /*boton "VER MAS" de BOOSTRAP*/ }
.contiene .vision .title-h1, .contiene .vision .title-h2, .contiene .mision .title-h1, .contiene .mision .title-h2, .contiene .historia .title-h1, .contiene .historia .title-h2 {
  color: beige;
  font-size: 2em;
  text-align: center;
  background-color: rgba(143, 13, 13, 0.6);
  width: 100%;
  padding: 5%;
}
.contiene .vision .title-h1, .contiene .mision .title-h1, .contiene .historia .title-h1 {
  font-weight: bolder;
}
.contiene .vision p, .contiene .mision p, .contiene .historia p {
  color: beige;
  font-size: 1.2em;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 2em;
  padding: 3%;
}
.contiene .vision .btn-mas, .contiene .mision .btn-mas, .contiene .historia .btn-mas {
  font-size: 0.6em;
}

/*///////////////////////MEDIA QUERIES PANTALLA TABLET ("nosotros")/////////////////////////////*/
@media screen and (min-width: 768px) {
  .contiene { /*boton "VER MAS" de BOOSTRAP*/ }
  .contiene .vision .title-h1, .contiene .vision .title-h2, .contiene .mision .title-h1, .contiene .mision .title-h2, .contiene .historia .title-h1, .contiene .historia .title-h2 {
    color: beige;
    font-size: 3em;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
    width: 100%;
    padding: 3%;
  }
  .contiene .vision p, .contiene .mision p, .contiene .historia p {
    font-size: 2em;
    height: auto;
  }
  .contiene .historia .btn-mas {
    font-size: 0.8em;
  }
}
/*///////////////////////MEDIA QUERIES PANTALLA DESKTOP ("nosotros")/////////////////////////////*/
@media screen and (min-width: 1280px) {
  .contiene {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto auto;
    grid-template-areas: "mision vision" "historia historia";
    row-gap: 5%;
    column-gap: 10%;
  }
  .contiene .vision .title-h1, .contiene .vision .title-h2, .contiene .mision .title-h1, .contiene .mision .title-h2, .contiene .historia .title-h1, .contiene .historia .title-h2 {
    color: beige;
    font-size: 4em;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
    padding: 4%;
  }
}
/*----------------------------------pagina instructorado--------------------------------------*/
.banner-instructorado { /*establece imagen de fondo*/
  background-image: linear-gradient(rgba(143, 13, 13, 0.6), rgba(255, 81, 0, 0.5)), url("../img/principio2.jpg");
}
.banner-instructorado .banner-textos {
  background-color: rgba(0, 0, 0, 0.6); /*fondo en los textos*/
}
.banner-instructorado .banner-textos h1 {
  color: beige;
  font-size: 1.7em;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(143, 13, 13, 0.6);
  padding: 3% 0;
}
.banner-instructorado .banner-textos p {
  color: beige;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 2%;
}

.certificacion {
  color: rgb(58, 10, 34);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  background-color: rgb(214, 99, 41);
  margin-top: 15%;
  padding: 5%; /*text-decoration: underline*/
  height: 20%;
}

.grid-container-instructor { /*grilla principal de la página*/
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto auto 40% 36%;
  justify-content: center;
  margin-top: 10%;
}
.grid-container-instructor .info-general-curso { /*primera seccion*/
  grid-row: 1/2;
  /*informacion general del instructorado con lineas para separar la info*/
}
.grid-container-instructor .info-general-curso p {
  color: rgb(58, 10, 34);
  font-size: 1.5em;
  font-weight: bold;
  text-align: justify;
  border-bottom: 1px solid rgb(153, 31, 31); /* limite para línea de borde inferior */
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.grid-container-instructor .imgs-instructorado {
  /*margin-top: -80%;*/
  display: flex;
  grid-row: 2/3;
}
.grid-container-instructor .imgs-instructorado .grid-images {
  margin-top: 10%;
  display: grid;
  grid-template-rows: repeat(3, 35%);
  grid-template-columns: repeat(2, auto);
  column-gap: 5%;
  /* grid-gap: 5%;*/
  row-gap: 5%;
  /* asi el link ocupa todo el espacio disponibleee */
}
.grid-container-instructor .imgs-instructorado .grid-images a {
  display: block;
}
.grid-container-instructor .imgs-instructorado .grid-images img {
  width: 100%;
  height: 90%;
  /* Si se da un margen*/
  border-radius: 2%;
}
.grid-container-instructor .maestros { /*segunda seccion docentes*/
  margin-top: 30%;
  grid-row: 3/4;
}
.grid-container-instructor .maestros h3 {
  color: rgb(53, 36, 40);
  font-size: 1.8em;
  font-weight: bolder;
  text-align: center;
  /* Si se da un margen*/
  margin: 15% 0% 15% 0%;
  border-bottom: 1px solid rgb(163, 58, 54);
}
.grid-container-instructor .maestros .grid-maestros {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "docente1 docente2" "docente3 docente4" "docente5 docente6" "docente7 docente8";
  column-gap: 10%;
  row-gap: 1%;
  text-align: center;
  margin-bottom: 50%;
}
.grid-container-instructor .maestros .grid-maestros .docente1 {
  grid-area: docente1;
}
.grid-container-instructor .maestros .grid-maestros .docente2 {
  grid-area: docente2;
}
.grid-container-instructor .maestros .grid-maestros .docente3 {
  grid-area: docente3;
}
.grid-container-instructor .maestros .grid-maestros .docente4 {
  grid-area: docente4;
}
.grid-container-instructor .maestros .grid-maestros .docente5 {
  grid-area: docente5;
}
.grid-container-instructor .maestros .grid-maestros .docente6 {
  grid-area: docente6;
}
.grid-container-instructor .maestros .grid-maestros .docente7 {
  grid-area: docente7;
}
.grid-container-instructor .maestros .grid-maestros .docente8 {
  grid-area: docente8;
}
.grid-container-instructor .maestros .grid-maestros img {
  width: 70%;
  height: 20%;
  /* Si se da un margen*/
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}
.grid-container-instructor .maestros .grid-maestros img:hover {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.8);
}
.grid-container-instructor .maestros .grid-maestros h4 {
  color: wheat;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  border-radius: 5%;
  background-image: linear-gradient(rgb(214, 99, 41), rgb(255, 102, 0));
  margin-top: 5%;
}
.grid-container-instructor .maestros .grid-maestros p {
  color: rgb(58, 10, 34);
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.grid-container-instructor .pago {
  grid-row: 4/5;
  height: auto;
  /* Si se da un margen*/
  margin: 20% 0 0 0;
}
.grid-container-instructor .pago .col2-pago p {
  margin-top: 3%;
  color: rgb(58, 10, 34);
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}
.grid-container-instructor .pago .col1-pago {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  /* Si se da un border-radius*/
  border-radius: 20%;
  background-color: rgb(163, 58, 54);
  height: auto;
  color: beige;
  padding-top: 2%;
  padding-bottom: 2%;
  /*texto dentro de los cuadritos y texto suelto a la izquierda*/
}
.grid-container-instructor .pago .col1-pago h5 {
  color: rgb(87, 11, 24);
  font-size: 2.5em;
  text-align: center;
  margin-top: 2%;
}
.grid-container-instructor .pago .col1-pago p {
  font-size: 2em;
  text-align: center;
}

/*////////////////////////MEDIA QUERIES PANTALLA TABLET (instructorado)/////////////////////////////*/
@media screen and (min-width: 768px) {
  .banner-instructorado .banner-textos h1 {
    font-size: 2em;
  }
  .banner-instructorado .banner-textos p {
    font-size: 2em;
    padding: 2%;
  }
  .certificacion {
    font-size: 3.5em;
  }
  .grid-container-instructor {
    grid-template-rows: auto auto 48% 21%;
  }
  .grid-container-instructor .info-general-curso p {
    font-size: 2em;
  }
  .grid-container-instructor .imgs-instructorado {
    margin-top: -30%;
  }
  .grid-container-instructor .maestros {
    margin-top: 20%;
  }
  .grid-container-instructor .maestros h3 {
    color: rgb(53, 36, 40);
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
  }
  .grid-container-instructor .maestros .grid-maestros {
    row-gap: 3%;
    margin-bottom: 40%;
  }
  .grid-container-instructor .maestros .grid-maestros h4 {
    color: wheat;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
  }
  .grid-container-instructor .maestros .grid-maestros p {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
  }
  .grid-container-instructor .maestros .grid-maestros img {
    width: 70%;
    height: 31%;
    /* Si se da un margen*/
    margin-top: -5%;
  }
  .grid-container-instructor .pago { /*{ background-image: 
url("../../img/loto2.png");
background-size: cover;*/
    margin-bottom: 50%;
  }
  .grid-container-instructor .pago .col1-pago {
    width: 50%;
    margin-bottom: 10%;
  }
  .grid-container-instructor .pago .col1-pago p {
    margin-left: 5%;
  }
  .grid-container-instructor .pago .col2-pago {
    width: 45%;
    margin-left: 5%;
  }
  .grid-container-instructor .pago .col2-pago p {
    font-weight: bold;
  }
}
/*////////////////////////MEDIA QUERIES PANTALLA DESKTOP (instructorado)/////////////////////////////*/
@media screen and (min-width: 1280px) {
  .banner-instructorado .banner-textos {
    margin-left: 3%;
  }
  .banner-instructorado .banner-textos h1 {
    font-size: 3.5em;
  }
  .banner-instructorado .banner-textos p {
    font-size: 2.5em;
  }
  .certificacion {
    font-size: 3.5em;
  }
  .grid-container-instructor { /*grilla principal de la página*/
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 28% 38% auto;
    column-gap: 5%;
    margin-left: 5%;
    /*informacion general del instructorado con lineas para separar la info*/
  }
  .grid-container-instructor .info-general-curso p {
    font-size: 2em;
  }
  .grid-container-instructor .info-general-curso { /*primera seccion*/
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .grid-container-instructor .imgs-instructorado {
    grid-row: 1/2;
    grid-column: 2/4;
  }
  .grid-container-instructor .imgs-instructorado .grid-images {
    width: 90%;
    height: 65%;
    /* Si se da un margen*/
    margin: 35% 0 0 5%;
  }
  .grid-container-instructor .maestros { /*segunda seccion docentes*/
    width: 10%;
    height: 10%;
    /* Si se da un margen*/
    margin: 0 0 0 0%;
    grid-row: 2/3;
    grid-column: 1/4;
    margin-bottom: 25%;
  }
  .grid-container-instructor .maestros h3 {
    width: 250%;
    /* Si se da un margen*/
    margin: 150% 0 50% 350%;
  }
  .grid-container-instructor .maestros .grid-maestros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 80%);
    column-gap: 180%;
    /* margin-bottom: 250%;*/
    grid-template-areas: "docente1 docente2 docente3 docente4" "docente5 docente6 docente7 docente8";
    margin-left: 5%;
  }
  .grid-container-instructor .maestros .grid-maestros .docente1 {
    grid-area: docente1;
  }
  .grid-container-instructor .maestros .grid-maestros .docente2 {
    grid-area: docente2;
  }
  .grid-container-instructor .maestros .grid-maestros .docente3 {
    grid-area: docente3;
  }
  .grid-container-instructor .maestros .grid-maestros .docente4 {
    grid-area: docente4;
  }
  .grid-container-instructor .maestros .grid-maestros .docente5 {
    grid-area: docente5;
  }
  .grid-container-instructor .maestros .grid-maestros .docente6 {
    grid-area: docente6;
  }
  .grid-container-instructor .maestros .grid-maestros .docente7 {
    grid-area: docente7;
  }
  .grid-container-instructor .maestros .grid-maestros .docente8 {
    grid-area: docente8;
  }
  .grid-container-instructor .maestros .grid-maestros img {
    width: 160%;
    height: 30%;
    /* Si se da un margen*/
    border-radius: 50%;
    margin-left: 50%;
    margin-bottom: 15%;
  }
  .grid-container-instructor .maestros .grid-maestros h4 {
    color: wheat;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    width: 160%;
    margin-left: 50%;
    border-radius: 5%;
    margin-top: 5%;
  }
  .grid-container-instructor .maestros .grid-maestros p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 250%;
  }
  .grid-container-instructor .pago {
    background-image: url("../img/loto2.png");
    background-size: cover;
    /* Si se da un margen*/
    margin: 0% 0 0 10%;
    grid-row: 3/4;
    grid-column: 1/4;
    row-gap: 0%;
  }
  .grid-container-instructor .pago .row {
    margin-bottom: 2rem;
  }
  .grid-container-instructor .pago .col1-pago {
    width: 40%;
  }
  .grid-container-instructor .pago .col2-pago {
    width: 50%;
  }
  .grid-container-instructor .pago .col2-pago p {
    margin-left: 5%;
  }
}
/*-----------------------------------------pagina profesorado ---------------------------------------------*/
.banner-profesorado {
  /*establece imagen de fondo*/
  background-image: linear-gradient(rgba(143, 13, 13, 0.6), rgba(255, 81, 0, 0.5)), url("../img/profesorado.jpeg");
}
.banner-profesorado .banner-textos {
  background-color: rgba(0, 0, 0, 0.6); /*fondo en los textos*/
}
.banner-profesorado .banner-textos h1 {
  color: beige;
  font-size: 1.7em;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(143, 13, 13, 0.6);
  padding: 3% 0;
}
.banner-profesorado .banner-textos p {
  color: beige;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 2%;
}

.animate__fadeInUp {
  --animate-duration: 1s; /* Ajusta la duración de la animación */
  --animate-delay: 0.5s; /* Ajusta el retraso de la animación */
}

.loto {
  /*seccion imagen de loto e informacion sobre profesorado*/
  background-image: radial-gradient(circle, rgb(219, 205, 121), rgb(214, 99, 41));
  width: 80%;
  /* Si se da un margen*/
  margin: 10% 0 0 10%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  /* Si se da un border-radius*/
  border-radius: 10px;
  padding: 5%;
}
.loto img {
  width: 50%;
  height: 50%;
  /* Si se da un margen*/
  margin: 0 0 0 25%;
  place-items: center;
  align-content: center;
}
.loto p {
  color: rgb(87, 11, 24);
  font-size: 1em;
  text-align: justify;
  width: 93%;
  /* Si se da un margen*/
  margin: 5% 0 0 4%;
  line-height: 150%;
}

.profesor {
  display: grid;
  grid-template-columns: auto;
}
.profesor .cuadro-texto { /*cuadros de informacion sobre el curso con fotos*/
  width: 90%;
  /* Si se da un margen*/
  margin: 10% 0 0 5%;
}
.profesor .cuadro-texto img {
  width: 95%;
  height: auto;
  /* Si se da un margen*/
  margin: 0 0 0 2%;
}
.profesor .cuadro-texto .texto {
  color: rgb(87, 11, 24);
  font-size: 1.5em;
  font-weight: bolder;
  text-align: justify;
}

#formulario .form-group {
  width: 90%;
  margin-left: 7%;
}

@media screen and (min-width: 768px) {
  .banner-profesorado .banner-textos h1 {
    font-size: 2em;
  }
  .banner-profesorado .banner-textos p {
    font-size: 2em;
    padding: 2%;
  }
  .loto p {
    color: rgb(87, 11, 24);
    font-size: 1.5em;
    text-align: justify;
  }
  .profesor .cuadro-texto { /*cuadros de informacion sobre el curso con fotos*/
    width: 90%;
    /* Si se da un margen*/
    margin: 10% 0 0 5%;
  }
  .profesor .cuadro-texto img {
    width: 95%;
    height: auto;
    /* Si se da un margen*/
    margin: 0 0 0 2%;
  }
  .profesor .cuadro-texto .texto {
    color: rgb(87, 11, 24);
    font-size: 1.8em;
    font-weight: bolder;
    text-align: justify;
  }
  #formulario .form-group .form-control {
    width: 200%;
    margin-left: -50%;
  }
}
@media screen and (min-width: 1280px) {
  .banner-profesorado .banner-textos {
    margin-left: 3%;
  }
  .banner-profesorado .banner-textos h1 {
    font-size: 3.5em;
  }
  .banner-profesorado .banner-textos p {
    font-size: 2.5em;
  }
  .loto { /*seccion imagen de loto e informacion sobre profesorado*/
    display: flex;
  }
  .loto img {
    margin-left: 0%;
  }
  .loto p {
    font-size: 1.5em;
    line-height: 200%;
    margin-left: 6%;
  }
  .profesor .cuadro-texto {
    display: flex;
    width: 80%;
    margin-left: 10%;
  }
  .profesor .cuadro-texto img {
    width: 50%;
    height: 90%;
    /* Si se da un margen*/
    margin: 4% 0 0 5%;
  }
  .profesor .cuadro-texto:nth-child(2) {
    width: 95%;
    margin-left: 3%;
  }
  .profesor .cuadro-texto .texto {
    color: rgb(87, 11, 24);
    font-size: 1.5em;
    font-weight: bolder;
    text-align: justify;
  }
  #info-doc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
/*----------------------------------------------pagina Kriya-----------------------------------------------*/
.banner-iniciacion { /*establece imagen de fondo*/
  background-image: linear-gradient(rgba(143, 13, 13, 0.6), rgba(255, 81, 0, 0.5)), url("../img/kriya.jpeg");
}
.banner-iniciacion .banner-textos {
  background-color: rgba(0, 0, 0, 0.6); /*fondo en los textos*/
}
.banner-iniciacion .banner-textos h1 {
  color: beige;
  font-size: 1.7em;
  font-weight: bolder;
  text-align: center;
  background-color: rgba(143, 13, 13, 0.6);
  padding: 3% 0;
}
.banner-iniciacion .banner-textos p {
  color: beige;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 2%;
}

.grid-container-kriya { /*grilla principal de la página*/
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  margin-top: 14%;
}
.grid-container-kriya .info-general-curso { /*primera seccion*/
  grid-row: 1/2;
}
.grid-container-kriya .info-general-curso h2 {
  color: rgb(87, 11, 24);
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  background-color: rgb(214, 99, 41);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-container-kriya .info-general-curso h3 {
  color: rgb(87, 11, 24);
  font-size: 1.8em;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-container-kriya .info-general-curso a {
  text-decoration: none;
}
.grid-container-kriya .info-general-curso a img {
  width: 80%;
  height: auto;
  /* Si se da un margen*/
  margin: 0 0 3% 10%;
}
.grid-container-kriya .info-general-curso a span {
  color: rgb(87, 11, 24);
  font-size: 1em;
  text-align: justify;
  margin-left: 10%;
}
.grid-container-kriya .info-general-curso a p {
  color: rgb(53, 36, 40);
  font-size: 1.5em;
  font-weight: bold;
  text-align: justify;
  border-bottom: 1px solid rgb(163, 58, 54); /* limite para línea de borde inferior */
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.grid-container-kriya .grid-images2 {
  display: none;
}
.grid-container-kriya .yogas {
  margin-top: 5%;
  grid-row: 2/3;
}
.grid-container-kriya .yogas img {
  width: 8%;
  height: 8%;
  /* Si se da un margen*/
  margin: 0 0 3% 0;
}
.grid-container-kriya .yogas .yoga-info {
  display: flex;
}
.grid-container-kriya .yogas .yoga-info div {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 5%;
}
.grid-container-kriya .yogas .yoga-info h3 {
  font-weight: bold;
  font-size: 1.5em;
}
.grid-container-kriya .yogas .yoga-info p {
  color: rgb(53, 36, 40);
  font-size: 1.5em;
  text-align: justify;
}
.grid-container-kriya .maestros {
  grid-row: 3/4;
}
.grid-container-kriya .maestros h3 {
  color: rgb(87, 11, 24);
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  /* Si se da un margen*/
  margin: 34% 0% 5% 0%;
  border-bottom: 1px solid rgb(163, 58, 54);
  padding: 5% 0;
}
.grid-container-kriya .maestros p {
  color: rgb(87, 11, 24);
  font-size: 1.5em;
  font-weight: bold;
  text-align: justify;
  margin-bottom: 15%;
}
.grid-container-kriya .maestros .grid-maestros {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10%;
  row-gap: 2%;
  text-align: center;
}
.grid-container-kriya .maestros .grid-maestros .custom-border:last-child p:last-child {
  padding-bottom: 10%;
}
.grid-container-kriya .maestros .grid-maestros img {
  width: 80%;
  height: 50%;
  /* Si se da un margen*/
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(245, 234, 173);
  transition: box-shadow 0.3s ease; /* Añade una transición suave */
}
.grid-container-kriya .maestros .grid-maestros img:hover {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.8);
}
.grid-container-kriya .maestros .grid-maestros a {
  text-decoration: none;
}
.grid-container-kriya .maestros .grid-maestros h4 {
  border-radius: 5%;
  color: wheat;
  font-size: 1em;
  text-align: center;
  background-image: linear-gradient(rgb(214, 99, 41), rgb(255, 102, 0));
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  /* Si se da un border-radius*/
  margin-top: 5%;
}
.grid-container-kriya .requisitos {
  grid-row: 4/5;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  /* Si se da un border-radius*/
  border-radius: 20%;
  background-color: rgb(163, 58, 54);
  height: auto;
  color: beige;
  padding: 10%;
}
.grid-container-kriya .requisitos h5 {
  color: rgb(87, 11, 24);
  font-size: 1.8em;
  font-weight: bolder;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}
.grid-container-kriya .requisitos #req, .grid-container-kriya .requisitos p {
  font-size: 1.5em;
  text-align: justify;
}
.grid-container-kriya .requisitos .video-kriya {
  display: none;
}

.info-general-curso p {
  color: rgb(87, 11, 24);
  font-size: 1.5em;
  font-weight: bold;
  text-align: justify;
  border-bottom: 1px solid rgb(163, 58, 54); /* limite para línea de borde inferior */
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.video-kriya0 {
  display: block;
  margin: 10% 0 10% 10%;
}

#formulario h5 {
  margin-left: -25%;
}
#formulario .form-check .form-check-input {
  margin-top: 0.7em;
  margin-left: 15%;
}
#formulario .form-check-input:checked {
  background-color: #c40909;
  border-color: #c40909;
}

/*////////////////////////MEDIA QUERIES PANTALLA TABLET (kriya)/////////////////////////////*/
@media screen and (min-width: 768px) {
  .banner-iniciacion .banner-textos h1 {
    font-size: 2em;
  }
  .banner-iniciacion .banner-textos p {
    font-size: 2em;
    padding: 2%;
  }
  .grid-container-kriya .info-general-curso a span {
    color: rgb(87, 11, 24);
    font-size: 2.5em;
    text-align: center;
    margin-left: 5%;
  }
  .grid-container-kriya .info-general-curso p {
    color: rgb(87, 11, 24);
    font-size: 1.8em;
    font-weight: bold;
    text-align: justify;
  }
  .grid-container-kriya .maestros h3 {
    font-size: 3em;
    /* Si se da un margen*/
    margin: 10% 0% 5% 0%;
  }
  .grid-container-kriya .maestros p {
    color: rgb(87, 11, 24);
    font-size: 1.8em;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 15%;
    width: 100%;
  }
  .grid-container-kriya .maestros .grid-maestros img {
    width: 70%;
    height: 50%;
    /* Si se da un margen*/
    border-radius: 50%;
  }
  .grid-container-kriya .maestros .grid-maestros h4 {
    font-size: 2em;
  }
  .grid-container-kriya .requisito2 {
    grid-row: 4/5;
    padding: 5%;
    margin-bottom: 10%;
  }
  .grid-container-kriya .requisito2 h5 {
    color: rgb(87, 11, 24);
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .grid-container-kriya .requisito2 #req, .grid-container-kriya .requisito2 p {
    font-size: 2em;
    text-align: justify;
  }
  .grid-container-kriya .requisito2 h6 {
    text-align: center;
  }
  .grid-container-kriya .requisito2 iframe {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    /* Si se da un border-radius*/
    border-radius: 10%;
    margin-left: 8%;
  }
  .grid-container-kriya .requisito2 .video-kriya {
    display: block;
  }
  .video-kriya0 {
    display: none;
  }
  #formulario .form-check {
    white-space: nowrap;
  }
  #formulario .form-check .form-check-input {
    margin-left: -15%;
  }
}
/*////////////////////////MEDIA QUERIES PANTALLA DESKTOP (kriya)/////////////////////////////*/
@media screen and (min-width: 1280px) {
  .banner-iniciacion .banner-textos {
    margin-left: 3%;
  }
  .banner-iniciacion .banner-textos h1 {
    font-size: 3.5em;
  }
  .banner-iniciacion .banner-textos p {
    font-size: 2.5em;
  }
  .grid-container-kriya { /*grilla principal de la página*/
    display: grid;
    grid-template-columns: 45% 40%;
    grid-template-rows: repeat(4, auto);
    column-gap: 5%;
    margin-left: 3%;
  }
  .grid-container-kriya .info-general-curso { /*primera seccion*/
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .grid-container-kriya .info-general-curso h2 {
    color: rgb(87, 11, 24);
    font-size: 3.5em;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(214, 99, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .grid-container-kriya .info-general-curso h3 {
    color: rgb(87, 11, 24);
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .grid-container-kriya .info-general-curso a {
    display: none;
  }
  .grid-container-kriya .info-general-curso p {
    font-size: 2em;
  }
  .grid-container-kriya .imgs-instructorado {
    /* Si se da un margen*/
    margin: 0% 5%;
    grid-row: 1/2;
    grid-column: 2/4;
  }
  .grid-container-kriya .grid-images2 {
    display: grid;
    grid-template-rows: 55% 45%;
    row-gap: 12%;
    grid-template-columns: auto;
    /* asi el link ocupa todo el espacio disponibleee */
  }
  .grid-container-kriya .grid-images2 a {
    text-decoration: none;
    color: rgb(87, 11, 24);
    font-size: 2em;
    text-align: center;
  }
  .grid-container-kriya .grid-images2 img {
    width: 100%;
    height: 100%;
    /* Si se da un margen*/
    border-radius: 2%;
  }
  .grid-container-kriya .yogas {
    margin-left: 2%;
    padding-top: 10%;
    margin-right: 5%;
    margin-top: 10%;
    grid-row: 2/3;
    grid-column: 1/4;
  }
  .grid-container-kriya .yogas .yoga-info {
    display: flex;
  }
  .grid-container-kriya .yogas .yoga-info div {
    display: flex;
    flex-direction: column;
  }
  .grid-container-kriya .yogas .yoga-info h3 {
    color: wheat;
    font-size: 1.8em;
    font-weight: bold;
    text-align: justify;
  }
  .grid-container-kriya .yogas .yoga-info p {
    color: wheat;
    font-size: 1.8em;
    font-weight: bold;
    text-align: justify;
    margin-right: 10%;
  }
  .grid-container-kriya .maestros { /*segunda seccion docentes*/
    grid-row: 3/4;
    grid-column: 1/4;
    margin-top: -10%;
  }
  .grid-container-kriya .maestros h3 {
    font-weight: bolder;
    margin: 20% 0 2% 3%;
    width: 90%;
  }
  .grid-container-kriya .maestros p {
    width: 80%;
    margin-left: 8%;
    line-height: 2em;
  }
  .grid-container-kriya .maestros .grid-maestros {
    margin-top: -8%;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 4%;
    row-gap: 2%;
    margin-bottom: 20%;
  }
  .grid-container-kriya .maestros .grid-maestros img {
    width: 80%;
    height: 45%;
    /* Si se da un margen*/
    border-radius: 50%;
    margin-left: 25%;
    margin-bottom: 15%;
  }
  .grid-container-kriya .maestros .grid-maestros h4 {
    color: wheat;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-left: 10%;
    width: 110%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    /* Si se da un border-radius*/
  }
  .grid-container-kriya .pago {
    /* Si se da un margen*/
    margin: 0% 0 0 10%;
    grid-row: 4/5;
    grid-column: 1/4;
    row-gap: 0%;
  }
  .grid-container-kriya .pago .row {
    margin-bottom: 2rem;
  }
  .grid-container-kriya .requisito2 {
    display: flex;
    grid-column: 1/4;
    margin-left: 7%;
    width: 80%;
    padding: 5%;
    padding-right: 8%;
  }
  .grid-container-kriya .requisito2 h5 {
    margin-left: -25%;
    margin-bottom: 5%;
    width: 150%;
  }
  .grid-container-kriya .requisito2 h6 {
    margin-top: 8%;
    margin-left: 15%;
  }
  .grid-container-kriya .requisito2 iframe {
    margin-left: 10%;
    margin-top: 2%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    /* Si se da un border-radius*/
    border-radius: 10%;
  }
  #formulario .form-check .form-check-input {
    margin-left: -15%;
  }
}
/*----------------------------------------pagina de contacto-------------------------------------------------*/
#banner-contacto {
  /*establece imagen de fondo del primer titulo*/
  background-image: linear-gradient(rgba(143, 13, 13, 0.6), rgba(255, 81, 0, 0.5)), url("../img/contacto3.jpeg");
}

#contacto-textos {
  color: beige;
  width: 100%;
  height: 100%;
  /* Si se da un margen*/
  margin: 5% 0 0 0%;
}
#contacto-textos h1 {
  color: beige;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  background-color: rgba(143, 13, 13, 0.6);
}
#contacto-textos h4 {
  /* Si se da un margen*/
  margin: 5% 0 0 30%;
  font-size: 2em;
}
#contacto-textos p {
  color: beige;
  font-size: 1.3em;
  text-align: center;
  line-height: 0.5em;
  margin-top: 5%;
}

#grid-contacto {
  display: grid;
  grid-template-columns: auto, auto;
  grid-template-rows: auto auto;
  grid-template-areas: "email direccion" "horario telefono";
  margin-top: 7%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 5%;
}
#grid-contacto #email {
  grid-area: email;
}
#grid-contacto #direccion {
  grid-area: direccion;
}
#grid-contacto #horario {
  grid-area: horario;
}
#grid-contacto #telefono {
  grid-area: telefono;
}
#grid-contacto .icono-contacto {
  width: 25%;
  height: 25%;
  /* Si se da un margen*/
  margin: 0 0 0 40%;
}

/*//////////////////flex para posicion de iconos de redes/////////////////////////*/
#fondo-redes {
  margin-top: 1%;
  background-image: linear-gradient(rgba(143, 13, 13, 0.6), rgba(255, 81, 0, 0.5)), url("../img/contacto3.jpeg");
}
#fondo-redes h2 {
  color: beige;
  font-size: 2em;
  text-align: center;
  background-color: rgba(143, 13, 13, 0.6);
  margin-bottom: -6%;
  padding: 6%;
}
#fondo-redes #contacto-redes {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4% 0;
  width: 100%;
  height: 100%;
  /* Si se da un margen*/
  margin: 6% 0 10% 0%;
}
#fondo-redes #contacto-redes .item img {
  width: 40%;
  height: auto;
  /* Si se da un margen*/
  margin: 0 0 0 33%;
}

/*////////////////ACORDEON DE BOOSTRAP (preguntas frecuentes////////////////////////*/
#acordeon {
  color: beige;
  text-align: center;
  background-color: rgb(163, 58, 54);
  width: 80%;
  /* Si se da un margen*/
  margin: 0 0 10% 10%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
#acordeon h2 {
  font-size: 1.8em;
  padding-top: 3%;
  font-weight: bold;
}
#acordeon .bg-item-acordeon {
  color: beige;
  background-color: #e68671;
}
#acordeon .acordeon-respuesta {
  font-size: 1.5em;
  background-color: #dba498;
}
#acordeon .accordion {
  --bs-accordion-active-bg: $bg-form;
  --bs-accordion-active-color: #523029;
  --bs-accordion-btn-focus-box-shadow: none;
}

/*//////////FORMULARIO CONTACTO///////////////*/
#formulario {
  margin: 30% 0;
}
#formulario h2 {
  color: beige;
  text-align: center;
  background-color: rgb(163, 58, 54);
}
#formulario .form-group {
  margin-bottom: 5%;
  width: 80%;
  margin-left: 10%;
}
#formulario .form-group-inline {
  width: 88%;
  margin-left: 1%;
  display: flex;
  justify-content: space-between;
}
#formulario .form-group label {
  color: beige;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin-bottom: 1%;
}
#formulario input[type=text],
#formulario input[type=tel],
#formulario input[type=email],
#formulario textarea,
#formulario select {
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#formulario textarea {
  resize: vertical;
}
#formulario .options {
  display: flex;
  flex-direction: column;
}
#formulario .options input[type=radio] {
  margin-right: 5%;
}
#formulario input:focus,
#formulario select:focus,
#formulario textarea:focus {
  outline: 2px solid rgb(153, 31, 31);
}
#formulario input[type=radio]:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  #grid-contacto {
    row-gap: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 3%;
  }
  #grid-contacto .icono-contacto {
    width: 25%;
    height: 34%;
    /* Si se da un margen*/
    margin: 0 0 0 37%;
  }
  #contacto-textos { /*fondo en los textos*/
    color: beige;
    width: 100%;
    height: 100%;
    /* Si se da un margen*/
    margin: 0%;
  }
  #contacto-textos h1 {
    color: beige;
    font-size: 3.5em;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
    padding: 5%;
  }
  #contacto-textos h4 {
    /* Si se da un margen*/
    margin: 5% 0 5% 30%;
    font-size: 3.5em;
  }
  #contacto-textos p {
    color: beige;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-left: 3%;
  }
  #acordeon h2 {
    font-size: 2em;
    padding-top: 3%;
    font-weight: bolder;
  }
  #fondo-redes h2 {
    color: beige;
    font-size: 3.5em;
    text-align: center;
    background-color: rgba(143, 13, 13, 0.6);
  }
  #formulario {
    width: 60%;
    /* Si se da un margen*/
    margin: 12% auto 12% auto;
    padding: 5%;
  }
  #formulario .form-group {
    margin-bottom: 5%;
    width: 60%;
    margin-left: 20%;
  }
  #formulario .form-group-inline {
    width: 75%;
    margin-left: 5%;
  }
  #topic option {
    font-size: 1%;
  }
}
@media screen and (min-width: 1280px) {
  #contacto-textos { /*fondo en los textos*/
    background-color: unset;
    padding-bottom: 2%;
  }
  #contacto-textos h1 {
    font-size: 4.5em;
  }
  #contacto-textos h4 {
    font-size: 2em;
    margin-left: 36%;
  }
  #contacto-textos p {
    font-size: 1.5em;
  }
  #grid-contacto {
    grid-template-columns: 25% repeat(3, 1fr);
    grid-template-areas: "email direccion horario telefono";
    margin-bottom: 6%;
  }
  #grid-contacto #icono-contacto {
    margin-left: 38%;
    width: 25%;
    height: 40%;
    /* Si se da un margen*/
    margin: 0 0 0 37%;
  }
  #fondo-redes {
    margin-top: 1%;
    background-image: linear-gradient(rgba(143, 13, 13, 0.6), rgba(255, 81, 0, 0.5)), url("../img/contacto3.jpeg");
  }
  #fondo-redes h2 {
    font-size: 4.5em;
    margin-bottom: 6%;
    padding: 6%;
  }
  #fondo-redes #contacto-redes .item img {
    width: 20%;
    height: auto;
    /* Si se da un margen*/
    margin: 0 0 0 40%;
  }
  #acordeon {
    width: 50%;
    /* Si se da un margen*/
    margin: 0 0 0 25%;
  }
  #formulario {
    width: 40%;
  }
  #formulario .form-group {
    margin-bottom: 5%;
    width: 60%;
    margin-left: 20%;
  }
  #formulario .form-group select option {
    font-size: 1.5em !important;
  }
  #formulario .form-group-inline {
    width: 75%;
    margin-left: 5%;
  }
}

/*# sourceMappingURL=estilo.css.map */
