/*////////////////////////////////////////Reseteo de estilos///////////////////////////////////////////////*/
/*@import "utilidades/general";*/
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/general";

 
  #title-first {  /*primer titulo del main con imagen de fondo*/
    @include sizes-margin (100%,100%,6% 0);
    grid-area: title-first;
    background-image: url(../img/meditacion.jpg);
    background-size: cover;
    }
  .title-h1 {@include general-textos ($text-color,$fontsize-large,bolder,center,$text-bg-color1); 
     padding: 6% 0;
  }
  .title-h2 {@include general-textos ($text-color,$fontsize-large,null,center,$text-bg-color1);
    padding: 5% 0;
  }

  /*-----------------------------------------INDEX-------------------------------------------------*/
  
  /*grid principal con todas las secciones*/
  .grid_container {
    /*esta es la grilla para movil*/
    display: grid;
    grid-template-rows: 10% repeat(3, 1fr) auto;
    grid-template-areas:
      "title-first"
      "profesorado"
      "instructorado"
      "iniciacion"
      "info-escuela";
    row-gap: 0%;
  }
  
  /*///////////////////////////////estilado info de cursos/////////////////////////////////////////////*/
  
  .contiene-info-curso,
  .iniciacion div {
    @include sizes-margin (90%,null,0 0 0 5%);
    background-color: $text-color;
    padding-bottom: 5%;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .profesorado,
  .instructorado,
  .iniciacion { /*etiquetita de cursos*/
    div div {
      @include general-textos($opcion-activa, $fontsize-mediumx, bolder, null, $background-color2);
      @include sizes-margin($fontsize-super, null, 0 0 5% 35%);
      @include shadow-border(0 0 5px 5px);
      padding: 1% 0;
    }
    h3 {
      @include general-textos(null, $fontsize-large, 900, null, null);
      font-family: $family-font2;
    }
  
    div p {
      font-size: $fontsize-large;
    }
  
    a {
      color: #000000;
      text-decoration: none;
  
      &:active {
        color: #ff6600;
      }
    }
    &.profesorado {
      grid-area: profesorado;
      text-align: center;
    }
  
    &.instructorado {
      grid-area: instructorado;
      text-align: center;
    }
  
    &.iniciacion {
      grid-area: iniciacion;
      text-align: center;
      margin-top: 4%;
    }
  }
  
  .imagenes-cursos { @include sizes-margin (90%,auto,18% 0 0 0);
    padding: 6px; /* Espacio interno alrededor de la imagen */
    background-color: $text-color;
    border: 2px solid #e41a1a;
    @include shadow-border(5px)
  }  
 
  .img-escuela {
    grid-area: img-escuela;
    margin-top: 10%;
  }
  
  #info-escuela {
    @include sizes-margin(null, null, 10% 0);
    grid-area: info-escuela;
    text-align: center;
    h2 {
      @include general-textos($text-color, null, bolder, null, $text-bg-color1);
      padding: 4% 0;
    }
  }
  
  #img-escuela2 {
    display: none;
  }
  /*//////////////////////////////MEDIA QUERIES PANTALLA MOVIL (index)////////////////////////////////*/
    
  @media screen and (max-width: 767px) {
    #info-escuela {
      background-image: url(../img/fuego.png);
      background-size: cover;
      font-size: $fontsize-medium; // Supongo que $fontsize-medium es una variable Sass
    }
  
    #info-escuela p {
      @include general-textos($text-color, null, bolder, justify, $text-bg-color2);
      @include sizes-margin(88%, null, 1% 0 0 6%);
      padding: 2%;
      border-radius: 5%;
    }
  
    .img-escuela {
      display: none;
    }
  
    #info-escuela p {
      display: none; // Esto es redundante si ya tienes #info-escuela p definido más arriba
    }
  
    #info-escuela p:nth-of-type(-n+2) {
      display: block; // Esto mostrará los dos primeros párrafos dentro de #info-escuela
    }
  }
  
/*///////////////////////////////MEDIA QUERY PANTALLA TABLET (index)///////////////////////////////////*/
@media screen and (min-width: 768px){ 
  .grid_container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 0px;
    grid-template-areas:
      "title-first title-first"
      "profesorado instructorado"
      "iniciacion iniciacion"
      "info-escuela img-escuela";
   }
   #imagen-menu,
   #name-Mb,
   .busqueda {
     display: none;
   }

    main.grid_container {
     display: grid;
    }

    #title-first {
      height: auto;
    }

    .imagenes-cursos {  @include sizes-margin (90%,60%,0%);
      display: inline-block;
    }
    .iniciacion img {  @include sizes-margin (75%,null,5% 0 0 0);}

    
    .title-h1 {
      padding: 9% 0;
      @include general-textos(null, 4em, null, center, $text-bg-color1);
      width: 100%;
    }

    .title-h2 {
      padding: 5% 0;
      @include general-textos(null, 4em, null, center, $text-bg-color1);
      width: 100%;
    }
    
    #img-escuela2 {
      display: block;

      img {
        @include sizes-margin(80%, auto, 0% 0 0 0%);
        @include shadow-border(5%);
      }
    }

  /*///////////////////////////////estilado info de cursos TABLET//////////////////////////////////////////*/

  .profesorado div div,      /*etiquetita de curso*/
  .instructorado div div {
    margin-left: 35%;
  }

  .iniciacion div {/*es como .contiene-info-curso*/
    @include sizes-margin(64%, null, 0 0 0 18%);
    background-color: $text-color;
    padding-bottom: 5%;
    text-align: center;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

    div {
      @include general-textos($text-color, $fontsize-mediumx, bolder, null, $main-color);
      @include sizes-margin($fontsize-super, null, 0 0 5% 40%);
    }
  }

  .img-escuela {
    display: none;
  }

  #info-escuela {
    font-size: $fontsize-medium;

    @include general-textos($text-color, null, bolder, center, $text-bg-color1);
    @include sizes-margin(190%, null, 22% 0 10% 9%);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    padding-bottom: 10%;

    h2 {
      @include general-textos(null, $fontsize-large, bolder, center, $text-bg-color1);
      width: 100%;
    }

    p {
      @include general-textos(null, 1.4em, null, justify, null);
      @include sizes-margin(90%, null, 2% 0 0 5%);
      padding-bottom: 4%;
    }
  }
}

/*////////////////////////MEDIA QUERIES PANTALLA DESKTOP (index)/////////////////////////////*/

  @media screen and (min-width: 1280px) { 
    .title-h1, .title-h2 {@include general-textos (null,$fontsize-super,null,center,$text-bg-color1)}
  /*///////////////////////////////estilado info de cursos Desktop//////////////////////////////////////////*/
  
  .profesorado div div,      /*etiquetita de curso*/
  .instructorado div div {
      margin-left: 42%;
    }
  .iniciacion div div { 
      @include sizes-margin ($fontsize-super,null,0 0 5% 44%);}
  .img-escuela {display: block;}
  .img-escuela img {@include sizes-margin (90%,auto,20% 0 0 3%);border-radius: 5%}
       
  #info-escuela { 
      @include general-textos ($text-color, $fontsize-small,bolder,center,$text-bg-color1);
      @include sizes-margin (100%,null,12% 0 10% 9%);
    }
    #img-escuela2 {display: none;}   
  }
 
  /*/////////////////////FIN MEDIA QUERIES (index)////////////////////*/
  
/*-------------------------------pagina de historia ("nosotros")--------------------------------------------*/
.background {background-image: url("../IMG/playa-amanecer.jpeg"); background-size: cover;}

.contiene{ display: grid;
  padding-top: 5%;
  grid-template-columns: 80%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "mision"
                      "vision"
                      "historia";
  row-gap: 0.5%;
  justify-content: center;
  margin-bottom: 10%; } 

  .mision {grid-area: mision;}
  .vision {grid-area: vision;}
  .historia {grid-area: historia;}

  .vision p, .mision p, .historia p{ @include general-textos ($text-color,1.2em,null,justify,$text-bg-color2);
    line-height: 2em;
    padding: 3%;
}

.btn-estilo { 
  background-color: $text-bg-color1; } /*boton "VER MAS" de BOOSTRAP*/
 
  /*///////////////////////MEDIA QUERIES PANTALLA TABLET ("nosotros")/////////////////////////////*/
  @media screen and (min-width: 768px) {
    .title-h1 {padding: 5% 0;}
    .title-h2 {padding: 3% 0;}
    .title-h1, .title-h2 {
      @include general-textos (null,3em,null,center,$text-bg-color1);
      width: 100%;}
   }

  /*///////////////////////MEDIA QUERIES PANTALLA DESKTOP ("nosotros")/////////////////////////////*/
  @media screen and (min-width: 1280px) {
    
    .title-h1, .title-h2 {
      @include general-textos (null,4em,null,center,$text-bg-color1);}
    .contiene{ display: grid;
      grid-template-columns: 40% 40%;
      grid-template-rows: auto auto;
      grid-template-areas: "mision vision"
                           "historia historia";
     
      row-gap: 5%;
      column-gap: 10%;} 
    
    .vision p, .mision p, .historia p{ 
      font-size: $fontsize-large;
      height: auto;}
   
    .btn-estilo { 
      width: 10%;
      height: 5%;
      padding-bottom: 1%;
      padding: 0;
    }
  }
/*//////////////////////////////////////////////////////////////////////////////////*/
   
  /*----------------------------------pagina instructorado--------------------------------------*/

.banner-instructorado{  /*establece imagen de fondo*/
      background-image: linear-gradient($text-bg-color1, $background-color3),
         url("../IMG/principio2.jpg");
       background-size: cover;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       margin-top: 5%;
     }

     .banner-textos {
      background-color: $text-bg-color2;  /*fondo en los textos*/
          h1 { @include general-textos (null,1.7em,bolder,null,null)};
          p { @include general-textos ($text-color,$fontsize-medium,bold,center,null);
              padding: 2%;}
      }  
.grid-container-instructor { /*grilla principal de la página*/
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto auto auto 1fr;
  justify-content: center;
  margin-top: 14%;
 
    .info-general-instructorado { /*primera seccion*/
      grid-row: 1/2; 
    }

    .imgs-instructorado {
      margin-top: 10%;
      display: flex;
      grid-row: 2/3;
    }

  .docentes {   /*segunda seccion docentes*/
    grid-row: 3/4;
  
  }
  .pago {grid-row: 4/5;
    @include sizes-margin (null,auto,20% 0 0 0);
  }
} 
.grid-images {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, auto);
  grid-gap: 10%;
           a {display: block;}  /* asi el link ocupa todo el espacio disponibleee */   
           img {@include sizes-margin (100%,100%,null);
               border-radius: 2%;
            }  
}
.info-general-instructorado {
    p { @include general-textos (rgb(53, 36, 40),$fontsize-medium,bold,justify,null);
      border-bottom: 1px solid rgba(212, 84, 84, 0.6); /* limite para línea de borde inferior */
      padding-bottom: 5%;
      margin-bottom: 5%;
      }
} /*informacion general del instructorado con lineas para separar la info*/

.grid-docentes {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
  row-gap: 10%;
  text-align: center;
    img { @include sizes-margin (60%,60%,null);}
}
.docentes {
        h3 { @include general-textos (rgb(53, 36, 40),$fontsize-large,bolder,center,null);
            @include sizes-margin (null,null,34% 0% 15% 0%);
            border-bottom: 1px solid $main-color;
            padding: 5% 0;
  }
}
.custom-border:last-child p:last-child {
  padding-bottom: 10%;   
}

.pago {
  .row:nth-child(4) {margin-bottom: 10%; margin-top: 10%}
}
.col2-pago {p {margin-top: 3%;
            @include general-textos (null,$fontsize-large,null,center,null);};
}
.col1-pago {       
  @include shadow-border(20%);
  background-color:$main-color;
  height: auto;
  color:$text-color;
  padding-top: 2%;
  padding-bottom: 2%;
        h5 {@include general-textos ($text-color1,$fontsize-xlarge,null,center,null);
            margin-top: 2%; }
        
          /*texto dentro de los cuadritos y texto suelto a la izquierda*/
        p { @include general-textos (null,$fontsize-large,null,center,null);}
    }


/*////////////////////////MEDIA QUERIES PANTALLA TABLET (instructorado)/////////////////////////////*/
 @media screen and (min-width: 768px) {

  .banner-textos {
        h1 { font-size:$fontsize-large};
        p {font-size:$fontsize-xlarge;
            padding: 2%};
    }  
    .info-general-instructorado p { font-size:$fontsize-large};
    .docentes h3 { font-size: 3em};

    .pago {margin-bottom: 50%};
.col1-pago {width: 50%; margin-bottom: 10%;
          p{margin-left: 5%}
        };
.col2-pago {width: 50%};
}

/*////////////////////////MEDIA QUERIES PANTALLA DESKTOP (instructorado)/////////////////////////////*/
@media screen and (min-width: 1280px) {
  .banner-textos {margin-left: 10%;
                  h1 {font-size:$fontsize-xxlarge;}
                  p {font-size:$fontsize-xlarge;}
                }

.grid-container-instructor { /*grilla principal de la página*/
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, auto) 1fr;
  justify-content: center;
  margin-top: 14%;
  column-gap: 5%;
  margin-left: 5%;
.info-general-instructorado {/*primera seccion*/
  grid-row: 1/2;
  grid-column: 1/2;
}

.imgs-instructorado {
  @include sizes-margin (null,null,0% 5%);
  grid-row: 1/2;
  grid-column: 2/4;
}

.docentes {/*segunda seccion docentes*/
        @include sizes-margin (20%,20%,0 0 0 14%);
        grid-row: 2/3;
        grid-column: 1/4;
}
.pago { @include sizes-margin (null,null, 0% 0 0 15%);
      grid-row: 3/4;
      grid-column: 1/4;}
}
.info-general-instructorado {
    p {font-size:$fontsize-large;}
}/*informacion general del instructorado con lineas para separar la info*/
.grid-docentes {
  grid-template-rows: repeat(2, 1f);
  grid-template-columns: repeat(4, 50%);
  column-gap: 50%;
  row-gap: 30%;
  margin-left: 10%;
}
.docentes {
            h3 {
                width: 336%;
                font-weight: bolder;
                margin-top: 100%;
               }
          }
.col1-pago {width: 40%};
.col2-pago {width: 50%};
.pago {.row {margin-bottom: 2rem;}}
.col2-pago {p {margin-left: 5%};}
} 
/*-----------------------------------------pagina profesorado ---------------------------------------------*/

.banner-profesorado {
  /*establece imagen de fondo*/
  background-image: linear-gradient( 
    $text-bg-color1, $background-color3),
    url("../img/profesorado.jpeg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   margin-top: 5%;
}


.loto {
  /*seccion imagen de loto e informacion sobre profesorado*/
  background-image: radial-gradient(circle, $background-color1, $background-color2);
  @include sizes-margin (80%,null,10% 0 0 10%);
  @include shadow-border(10px);
  padding: 5%;
  img { @include sizes-margin (50%,50%,0 0 0 25%);
    place-items: center; 
    align-content: center;
    
  }
  p {  @include general-textos ($text-color1,$fontsize-small,null,justify,null);
    @include sizes-margin (93%,null,5% 0 0 4%);
    line-height: 150%;
   }
}

.profesor {
  display: grid;
  grid-template-columns: auto;
 }

.recuadro {     /*cuadros de informacion sobre el curso con fotos*/
  background-color: rgb(226, 156, 91);
  padding: 25px;
  
  @include sizes-margin (90%,null,10% 0 0 5%);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
            img { @include sizes-margin (95%,auto,0 0 0 2%);}
}

.texto { @include general-textos ($text-color1,$fontsize-medium,bolder,justify,null);
  
}

#formulario {
            .container {  /*formulario*/
            border: 2px solid #800000;
            @include shadow-border (5%);
            padding: 20px;
            background-color: #e68671;
            }
}

.form-width {
  width: 70%;
  margin-bottom: 10%;
}
.rotulo { @include general-textos (null,1.2em,null,center,null);
  margin-right: 10%;
}
.col-md-6 h4 { @include general-textos ($text-color1,null,null,center,null);
/*fin formulario*/
} 

///////////////////////////////////////////MEDIA QUERY PANTALLA DESKTOP (profesorado)///////////////////////////////////*/
@media screen and (min-width: 1280px) {
  .loto {  /*seccion imagen de loto e informacion sobre profesorado*/
      display: flex;
      img {
        margin-left: 0%;
      }
      p {
        font-size:$fontsize-small;
        line-height: 200%;
        margin-left: 6%;}   
    }
  .recuadro{
  display: flex;
  
  width: 80%;
  margin-left: 10%;
        img {@include sizes-margin (50%,90%,4% 0 0 5%);
        }
  }
  .form-width {
    width: 50%;
  }
}
/*----------------------------------------pagina de contacto-------------------------------------------------*/
  
#banner-contacto {
     /*establece imagen de fondo del primer titulo*/
     background-image: linear-gradient( 
     $text-bg-color1, $background-color3),
     url("../IMG/contacto3.jpeg");
     background-size: cover;
     margin-top: 5%;
    } 
    
#grid-contacto {
    display: grid;
    grid-template-columns: auto, auto;
    grid-template-rows: auto auto;
    grid-template-areas: "email direccion"
                        "horario telefono";
    margin-top: 10%;
    }
#email {
  grid-area: email;
}
#direccion {
  grid-area: direccion;
}
#horario {
  grid-area: horario;
}
#telefono {
  grid-area: telefono;
}
    
#icono-contacto { @include sizes-margin (25%,25%,0 0 0 40%);}
#contacto-textos {
            h1 { @include general-textos ($text-color,$fontsize-large,null,center,$text-bg-color1);
            margin-bottom: 10%;
            padding: 5%;
            }
            h5 { @include sizes-margin (null,null,5% 0 0 33%);
              font-size:$fontsize-mediumx;
             }
            p { @include general-textos ($text-color,1.3em,null,center,null);}  
            background-color: $text-bg-color2;
            color: $text-color;
            @include sizes-margin (100%,100%,5% 0 0 0%);
    }
/*//////////////////flex para posicion de iconos de redes/////////////////////////*/
#fondo-redes {
      margin-top: 1%;
      background-image: linear-gradient( 
        $text-bg-color1, $background-color3),
        url("../IMG/contacto3.jpeg");
    
              h2 { @include general-textos ($text-color,$fontsize-large,null,center,$text-bg-color1);
                margin-bottom: -6%;
                padding: 6%;
              }         
            }
#contacto-redes {
      display: flex;
      justify-content: space-between;
      background-color:$text-bg-color2;
      padding: 4% 0;
      @include sizes-margin (100%,100%,6% 0 10% 0%);
     }
.item {
      img {@include sizes-margin (40%,auto,0 0 0 33%);}       
    }
    
/*////////////////ACORDEON DE BOOSTRAP (preguntas frecuentes////////////////////////*/
    
#acordeon { @include general-textos ($text-color,null,null,center,$main-color);
            @include sizes-margin (80%,null,0 0 10% 10%);
            box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
          }
    
.bg-item-acordeon { @include general-textos ($text-color,null,null,null,$bg-form);}
    
.acordeon-respuesta {@include general-textos (null,$fontsize-medium,null,null,$bg-form1);}
    
.accordion {
      --bs-accordion-active-bg: #d88674;
      --bs-accordion-active-color: #523029;
      --bs-accordion-btn-focus-box-shadow: none;
    }
    
/*////FORMULARIO CONTACTO///////////////*/
.form { @include sizes-margin (90%,null,12% auto 12% auto);
      padding: 20px;
      @include shadow-border (5%);
      background-color:$bg-form;
                h2 { @include general-textos ($text-color,null,null,center,$main-color);
                width: 100%;
                }
 }
.form-group {
      margin-bottom: 5%;
    }
    
.form-group-inline {
      display: flex;
      justify-content: space-between;
    }
    
.form-group label { @include general-textos ($text-color,$fontsize-medium,bold,null,null);
      display: block;
      margin-bottom: 1%;}
    
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
      width: 100%;
      padding: 1%;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
textarea {
    resize: vertical;
}
    
.options {
      display: flex;
      flex-direction: column;
      input[type="radio"] {
        margin-right: 5%;
      }
    }
    
#btn-form { @include general-textos ($text-color,$fontsize-medium,null,null,$main-color);
      display: block;
      width: 22%;
      padding: 1%;
      border-radius: 5px;
      margin-left: 40%;
}
    
#btn:hover {
      background-color: #e68671;
    }
    
input:focus,
select:focus,
textarea:focus {
        outline: 2px solid $background-img2;
    }
    
 input[type="radio"]:focus {
      outline: none;
 }

///////////////////////////////////////////MEDIA QUERY PANTALLA TABLET (contacto)///////////////////////////////////*/
@media screen and (min-width: 768px){ 
  #icono-contacto { @include sizes-margin (25%,35%,0 0 0 37%);}
  #grid-contacto {row-gap: 5%; margin-bottom: 10%;}
  #contacto-textos{/*fondo en los textos*/
                  background-color: $text-bg-color2;
                  color: $text-color;
                  padding-bottom: 2%;
                  @include sizes-margin (100%,100%,5% 0 0 0%);
                  h1 { @include general-textos ($text-color,$fontsize-xxlarge,null,center,$text-bg-color1);
                      margin-bottom: 10%;
                      padding: 5%;
                    }
                  h5 { @include sizes-margin (null,null,5% 0 5% 35%);
                      font-size:$fontsize-xlarge;
                    }
                  p { @include general-textos ($text-color,$fontsize-large,bolder,center,null); margin-left: 3%;}
    }

  #fondo-redes {
             h2 { @include general-textos ($text-color,$fontsize-xxlarge,null,center,$text-bg-color1);}         
            }
            
  .form { @include sizes-margin (60%,null,12% auto 12% auto);}
  #topic option {font-size: 1%;}             
} 
///////////////////////////////////////////MEDIA QUERY PANTALLA DESKTOP (contacto)///////////////////////////////////*/
@media screen and (min-width: 1280px) {
 #grid-contacto {
       display: grid;
       grid-template-columns: 25% repeat(3, 1fr);
       grid-template-areas: "email direccion horario telefono";
       margin-top: 10%;
      }
  #icono-contacto {margin-left: 38%;}
  #contacto-textos {/*fondo en los textos*/
               h1 {font-size: 4.5em;}
               h5 {
                  font-size:$fontsize-large;
                  margin-left: 38%;
                  }
               p {font-size:$fontsize-medium;}
  }
  #fondo-redes {
      margin-top: 1%;
      background-image: linear-gradient( 
      $text-bg-color1, $background-color3),
      url("../IMG/contacto3.jpeg");
              h2 {
                  font-size: 4.5em;
                  margin-bottom: 6%;
                  padding: 6%;
               }         
   }
  .item {
         img { @include sizes-margin (20%,auto,0 0 0 40%);
            }       
        }
  #acordeon { @include sizes-margin (50%,null,0 0 0 25%);}
  .form {max-width: 40%;}
}
  