// RESETEO DE MARGENES-PADDING-BORDES Y SETEO DE FUENTE PRINCIPAL
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: $family-font1;
  }



// ESTILO GENERAL DEL BODY
body {
    background-image: radial-gradient(circle, $background-color1, $background-color2);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: $fontsize-base;
}

// ESTILO GENERAL DEL HEADER
    header {
        background-image: linear-gradient(45deg, $background-img1, $background-img2);

        @media screen and (max-width: 767px) {
            /* No mostrar nombre e imagen del menú desktop-tablet */
            div:first-child {
                display: none;
            }
        }
    }

    //MOVIL//
    #imagen-menu { @include sizes-margin (25%,25%,null);}
    #logo-principal {@include sizes-margin (100%,100%,null);}/*logo principal menu movil*/

    /* estilos del titulo principal SAMADHI YOGA y subtitulo */
    .name { @include general-textos ($text-color-title,$fontsize-mediumx,bolder,null,null);
        align-content: center;
        text-shadow: 1px 1px 1px rgba(39, 39, 39, 0.8);
        white-space: nowrap ;
    }

    /*subtitulo que aparece cuando el menú colapsa*/
    #subname-Mb  { @include general-textos ($text-color,$fontsize-medium,null,center,null);
    margin-left: 9%;
    }
    //boton de busqueda
    .search-boton { @include sizes-margin (35%,10%,null);
    font-size: $fontsize-small;
    line-height: 1%;
    }

    //TABLET//
    @media screen and (min-width: 768px){ 
        #logo-principal0 { @include sizes-margin (23%,22%,null);}/*logo principal*/
          
        header div:first-child{                 /*nombre en el menu tablet*/
               display: flex;
               margin-left: 2%;
        }
        #search { @include sizes-margin (null,null,3% 0 0 8%);
                  display: flex;  
        }
        .search-input {  @include general-textos (null, $fontsize-small,bolder,null,null);
                      @include sizes-margin (50%,10%,null);
        }
          
        nav { justify-content: center;
              div{.name {display: none};}
        };
       .navbar-propio {margin-left: 4%;}
 
          .navlink-propio {text-align: center;}
          .name {             /*estilo de titulos en el menú*/
          @include general-textos ($text-color-title,$fontsize-medium,bolder,center,null);
            margin-left: 10%;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
             span {
              font-size:$fontsize-large;};
              p {
                font-size:  $fontsize-small;
              };
          }
          #subname-Mb {display: none;} /*solo debe verse en movil*/
        }
    //DESKTOP//      
    @media screen and (min-width: 1280px) { 

      #logo-principal0 { @include sizes-margin (16%,14%,0 0 0 2%);}/*logo principal*/
          
      .name {             /*estilo de titulos en el menú*/
          @include general-textos ($text-color-title,$fontsize-large,bolder,center,null);
          
          margin-left: 18%;};
          #search { @include sizes-margin (null,null,1% 0 0 17%);}
          .search-input {width: 40%}
    }
///////////////// MENU HAMBURGUESA DE BOOSTRAP (header)//////////
    
    .bg-menu {
        background-color: $main-color;
    }
    
    #current {                  /* opcion activa en el menú*/
        color:$opcion-activa;
    }

//ESTILO NAVBAR Y HOVER 
   .navbar-propio .navlink-propio {@include general-textos ($text-color,$fontsize-medium,bolder,null,null);}
   .navitem-propio a {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      color: $text-color;
      
    }
    .navitem-propio a:hover {
      background-color: $hover-menu;
      color: white;
      animation: pulse 0.5s;
    }
 
                            //Fin estilo general HEADER//

// ESTILO GENERAL DEL FOOTER

//MOVIL//
.footer {display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        background-color: $main-color;
        ul {list-style: none}
        #logo-footer-img { @include sizes-margin (90%,40%,10% 0 0 20%);}
        #logo-footer{
                    grid-column: 1/2;
                    grid-row: 1/2;           
                    margin-left: 35%;
                    #name-footer{             
                                @include general-textos ($text-color-title,$fontsize-medium,bolder,center,null);
                                span {letter-spacing: 0.3em};
                                margin-left: 0.5em;
                                p {margin-left: 15%}
                                margin-top: 5%;
                                }
                    }
        #menu-footer{
                    grid-column: 2/3;
                    grid-row: 1/2;   
                    padding:10%;
                    margin-top: 8%;
                    margin-left: 62%;
                    span {display: none}
                    a {@include general-textos ($text-color,$fontsize-medium,null,center,null)}                  
                    a:hover {color: $hover-menu}
                    }
        #sitios-footer {margin-top: 2%;
                       p {@include general-textos ($text-color-title,$fontsize-medium,bold,center,null)}       
                       a {@include general-textos ($text-color-title,$fontsize-medium,null,center,null);margin-left: -10%;} 
                       a:hover {color: rgb(255, 72, 0)}      
                       grid-column: 1/4;
                       grid-row: 2/3;
        }
        #pie {
             grid-column: 1/4;
             grid-row: 3/4;   
             @include general-textos($text-color,1.2em, null,null);
             background-color: $text-color1;
             align-content: center;
             text-align: center;
             p {margin-top: 2%;};
             }
    padding-top: 2%;
}
#pie-dk-tbl {display: none}

//TABLET//
 @media screen and (min-width: 768px){ 
    .footer {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 70% 30%;
        #logo-footer-img { @include sizes-margin (60%,47%,10% 0 0 20%);}
        #logo-footer {
                     margin-left: 10%;
                     #name-footer{             
                                 
                                  span {letter-spacing: 0.8em};
                                  margin-left: 0.6em;
                                  p {margin-left: -7%}
                                  }
                    }
        #menu-footer {
                     margin-top: 5%;
                     margin-left: 25%;
                     a {@include general-textos ($text-color,$fontsize-medium,null,center,null)}                  
                     a:hover {background-color: $hover-menu; color: white}
                    }
        #sitios-footer {margin-left: 5%;
                        margin-top: 7%;
                        p {@include general-textos ($text-color-title,$fontsize-medium,bold,center,null)}       
                        a {@include general-textos ($text-color-title,$fontsize-medium,null,center,null);margin-left: -10%;} 
                        a:hover {color: rgb(255, 72, 0)}      
                        grid-column: 3/4;
                        grid-row: 1/2;
        }
        #pie {
             grid-row: 2/3;   
             }
    }
    #pie-dk-tbl {display: block}
    #pie-mv {display: none}
 }
//DESKTOP//
@media screen and (min-width: 1280px) { 
    .footer {
            grid-template-columns: repeat(3, auto);
            grid-template-rows: auto auto;
            background-color: $main-color;
            #logo-footer-img { @include sizes-margin (32%,75%,2% 0 0 10%);}
            #logo-footer{
                        display: flex;
                        #name-footer{             
                                    span {letter-spacing: 1em};
                                    margin-left: 0.6em;
                                    margin-top: 15%;
                                    }
                        }
            #menu-footer{
                        display: flex;
                        margin-left: 0;
                        span{display: block}
                        a {@include general-textos ($text-color,$fontsize-medium,null,left,null)}                  
                        }
            #sitios-footer {margin-top: 0%;
                            p {@include general-textos ($text-color-title,$fontsize-mediumx,null,left,null)}       
                            a {@include general-textos ($text-color-title,$fontsize-medium,null,left,null);margin-left:0} 
                           }
    }
}

