/*----------------------------------pagina instructorado--------------------------------------*/

  .banner-instructorado{  /*establece imagen de fondo*/
    background-image: linear-gradient($text-bg-color1, $background-color3),
       url("../img/principio2.jpg");
    @extend %banner;
   }

   .banner-textos {
    background-color: $text-bg-color2;  /*fondo en los textos*/
        h1 { @include general-textos (null,1.7em,bolder,null,null)};
        p { @include general-textos ($text-color,$fontsize-medium,bold,center,null);
            padding: 2%;}
    }  
.grid-container-instructor { /*grilla principal de la página*/
display: grid;
grid-template-columns: 80%;
grid-template-rows: auto auto auto 1fr;
justify-content: center;
margin-top: 14%;

  .info-general-curso { /*primera seccion*/
    grid-row: 1/2; 
  }

  .imgs-instructorado {
    margin-top: 10%;
    display: flex;
    grid-row: 2/3;
  }

.maestros {   /*segunda seccion docentes*/
  grid-row: 3/4;

}
.pago {grid-row: 4/5;
  @include sizes-margin (null,auto,20% 0 0 0);
}
} 
.grid-images {
display: grid;
grid-template-rows: repeat(3, 1fr);
grid-template-columns: repeat(2, auto);
grid-gap: 10%;
         a {display: block;}  /* asi el link ocupa todo el espacio disponibleee */   
         img {@include sizes-margin (100%,100%,null);
             border-radius: 2%;
          }  
}
.info-general-curso {
  p { @include general-textos (rgb(53, 36, 40),$fontsize-medium,bold,justify,null);
    border-bottom: 1px solid $background-img2; /* limite para línea de borde inferior */
    padding-bottom: 5%;
    margin-bottom: 5%;
    }
} /*informacion general del instructorado con lineas para separar la info*/


.grid-container-instructor {
                            .maestros {
                            .grid-maestros {
                                display: grid;
                                grid-template-rows: repeat(4, 1fr);
                                grid-template-columns: repeat(2, 1fr);
                                column-gap: 10%;
                                text-align: center;
                                margin-bottom: 50%;
                                    img { @include sizes-margin (70%,20%,null); border-radius: 50%; /*margin-top: -25%*/;}
                                
                                    h3 { @include general-textos (rgb(53, 36, 40),$fontsize-mediumx,bolder,center,null);
                                    @include sizes-margin (null,null,15% 0% 15% 0%);
                                    border-bottom: 1px solid $main-color;
                                    }
                                    h4 {@include general-textos (wheat,$fontsize-medium,bold,center,null);
                                    border-radius: 5%; 
                                    background-image: linear-gradient($background-color2, rgb(255, 102, 0));
                                    margin-top: 5%}
                                    p {@include general-textos (null,1.2em,bold,center,null)}
                              }
                            }
                         
}

.custom-border:last-child p:last-child {
padding-bottom: 10%;   
}

.pago {
      .row:nth-child(4) {margin-bottom: 10%; margin-top: 10%}
}
.col2-pago {p {margin-top: 3%;
          @include general-textos (null,$fontsize-large,null,center,null);};
}
.col1-pago {       
  @include shadow-border(20%);
  background-color:$main-color;
  height: auto;
  color:$text-color;
  padding-top: 2%;
  padding-bottom: 2%;
      h5 {@include general-textos ($text-color1,$fontsize-xlarge,null,center,null);
          margin-top: 2%; }
      
        /*texto dentro de los cuadritos y texto suelto a la izquierda*/
      p { @include general-textos (null,$fontsize-large,null,center,null);}
  }


/*////////////////////////MEDIA QUERIES PANTALLA TABLET (instructorado)/////////////////////////////*/
@media screen and (min-width: 768px) {

.banner-textos {
               h1 { font-size:$fontsize-large};
               p {font-size:$fontsize-large;
                  padding: 2%};
  }  
.info-general-curso{ p { font-size:$fontsize-large}};


.grid-container-instructor {
                            .maestros {
                              h3 { @include general-textos (rgb(53, 36, 40),$fontsize-xlarge,bolder,center,null)}
                              
                              .grid-maestros {row-gap: 3%;
                                h4 {@include general-textos (wheat,$fontsize-large,bolder,center,null)};
                                p {@include general-textos (null,$fontsize-mediumx,bold,center,null)}
                                img {@include sizes-margin (70%,27%,null);margin-top: -5%;}
                                margin-bottom: 40%
                              }  
                            }
}

.pago {margin-bottom: 50%}
.col1-pago {width: 50%; margin-bottom: 10%;
           p{margin-left: 5%}
}
.col2-pago {width: 45%;margin-left: 5%};
}

/*////////////////////////MEDIA QUERIES PANTALLA DESKTOP (instructorado)/////////////////////////////*/
@media screen and (min-width: 1280px) {
.banner-textos {margin-left: 10%;
                h1 {font-size:$fontsize-xxlarge;}
                p {font-size:$fontsize-xlarge;}
              }

.grid-container-instructor { /*grilla principal de la página*/
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, auto) 1fr;
  column-gap: 5%;
  margin-left: 5%;
.info-general-curso {/*primera seccion*/
  grid-row: 1/2;
  grid-column: 1/2;
}

.imgs-instructorado {
  @include sizes-margin (null,null,0% 5%);
  grid-row: 1/2;
  grid-column: 2/4;
}

.maestros {/*segunda seccion docentes*/
      @include sizes-margin (10%,10%,0 0 0 0%);
      grid-row: 2/3;
      grid-column: 1/4;
      
}
.pago { @include sizes-margin (null,null, 0% 0 0 10%);
    grid-row: 3/4;
    grid-column: 1/4;
  row-gap: 0%;}
}
.info-general-curso {
  p {font-size:$fontsize-large;}
}/*informacion general del instructorado con lineas para separar la info*/
.grid-container-instructor{ .maestros{
                              .grid-maestros {
                              grid-template-rows: 50% 50%; /*repeat(2, auto);*/
                              grid-template-columns: repeat(4, 70%);
                              column-gap:200%;
                              margin-bottom: 250%;
                              margin-left: 1%;
                              img{ @include sizes-margin (160%,28%,null); border-radius: 50%; margin-left: 50%;margin-bottom: 15%}
                              h4 {@include general-textos (wheat,$fontsize-large,bolder,center,null);
                                  width:160%; margin-left:50%;};
                              p {@include general-textos (null,$fontsize-medium,bold,center,null); width:250%};
                              }
                            }
          }
.grid-container-instructor .maestros {
          h3 {@include sizes-margin (250%,null,150% 0 50% 350%);                      
             }
        }
.col1-pago {width: 40%};
.col2-pago {width: 50%};
.pago {.row {margin-bottom: 2rem}}
.col2-pago {p {margin-left: 5%};}
} 