/*-------------------------------pagina de historia ("nosotros")--------------------------------------------*/
.background {background-image: url("../img/playa-amanecer.jpeg"); background-size: cover;}

.contiene{
         display: grid;
         padding-top: 5%;
         grid-template-columns: 80%;
         grid-template-rows: repeat(3, auto);
         grid-template-areas: "mision"
                              "vision"
                              "historia";
         row-gap: 0.5%;
         justify-content: center;
         margin-bottom: 10%; 
         .mision {grid-area: mision;}
         .vision {grid-area: vision;}
         .historia {grid-area: historia;}
         .vision, .mision, .historia {
                                     .title-h1, .title-h2 {
                                                          @include general-textos ($text-color,2em,null,center,$text-bg-color1);
                                                          width: 100%; padding: 5%};
                                     .title-h1 {font-weight: bolder}; 
                                     p{@include general-textos ($text-color,1.2em,null,justify,$text-bg-color2);
                                      line-height: 2em;
                                      padding: 3%
                                     }
         .btn-mas { font-size: 0.6em; } /*boton "VER MAS" de BOOSTRAP*/         
         }   
}

  /*///////////////////////MEDIA QUERIES PANTALLA TABLET ("nosotros")/////////////////////////////*/
  @media screen and (min-width: 768px) {
   .contiene{
            .vision, .mision, .historia {
                                        .title-h1, .title-h2 {
                                        @include general-textos ($text-color,3em,null,center,$text-bg-color1);
                                        width: 100%; padding: 3%};
                                        p{font-size: $fontsize-large;
                                          height: auto;
                                         }
             }                                
             .historia {.btn-mas { font-size: 0.8em; }} /*boton "VER MAS" de BOOSTRAP*/         
            }
  
          }
  /*///////////////////////MEDIA QUERIES PANTALLA DESKTOP ("nosotros")/////////////////////////////*/
@media screen and (min-width: 1280px) {
    .contiene{
             display: grid;
             grid-template-columns: 40% 40%;
             grid-template-rows: auto auto;
             grid-template-areas: "mision vision"
                           "historia historia";
             row-gap: 5%;
             column-gap: 10%; 
             .vision, .mision, .historia {
                                         .title-h1, .title-h2 {
                                                              @include general-textos ($text-color,4em,null,center,$text-bg-color1);
                                                              padding: 4%;
                                          }
             
             }                                       
  } 
}