@mixin sizes-margin($width: null, $height: null, $margen: null) {
    @if $width != null {
      width: $width;
    }
    @if $height != null {
      height: $height;
    }
    /* Si se da un margen*/
  @if $margen != null {
    @if length($margen) == 1 { 
      margin: nth($margen, 1);
    } @else if length($margen) == 2 {
      margin: nth($margen, 1) nth($margen, 2);
    } @else if length($margen) == 3 {
      margin: nth($margen, 1) nth($margen, 2) nth($margen, 3);
    } @else if length($margen) == 4 {
      margin: nth($margen, 1) nth($margen, 2) nth($margen, 3) nth($margen, 4);
    } 
  }
  }
  
  @mixin general-textos(
    $color: null, 
    $fontsize: null, 
    $fontweight: null, 
    $align: null, 
    $backcolor: null
  ) {
    @if $color != null {
      color: $color;
    }
    @if $fontsize != null {
      font-size: $fontsize;
    }
    @if $fontweight != null {
      font-weight: $fontweight;
    }
    @if $align != null {
      text-align: $align;
    }
    @if $backcolor != null {
      background-color: $backcolor;
    }
  }
  
  @mixin shadow-border($radius: null) {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
   /* Si se da un border-radius*/
    @if $radius != null {
      @if length($radius) == 1 {
        border-radius: nth($radius, 1);
      } @else if length($radius) == 2 {
        border-radius: nth($radius, 1) nth($radius, 2);
      } @else if length($radius) == 3 {
        border-radius: nth($radius, 1) nth($radius, 2) nth($radius, 3);
      } @else if length($radius) == 4 {
        border-radius: nth($radius, 1) nth($radius, 2) nth($radius, 3) nth($radius, 4);
      }
    }
  }
  
  @mixin grid ($row-gap, $column-gap) {
    row-gap: $row-gap;
    column-gap: $column-gap;
    display: grid;
  }