//COLORES//
$main-color: rgb(163, 58, 54);
$text-color: beige;
$text-color1: rgb(87, 11, 24);
$text-color2:wheat;
$text-color3:rgb(58, 10, 34);
$text-bg-color1: rgba(143, 13, 13, 0.6); 
$text-bg-color2: rgba(0, 0, 0, 0.6);
$text-color-title:rgb(240, 199, 123);
$background-color1: rgb(219, 205, 121);
$background-color2:rgb(214, 99, 41);
$background-color3:rgba(255, 81, 0, 0.5);
$background-img1: rgba(252, 232, 165, 0.973);
$background-img2:rgb(153, 31, 31);
$opcion-activa: aliceblue;
$bg-form: #e68671;
$bg-form1: #dba498;
$hover-menu:darkorange;
$hover-color-btn: #c40909;

//FAMILY FONT///
$family-font1: Arial, Helvetica, sans-serif;
$family-font2: Verdana, Geneva, Tahoma, sans-serif;


//TAMAÑO FUENTES//
$fontsize-base: 0.7em; 
$fontsize-small: 1em;
$fontsize-medium: 1.5em;
$fontsize-mediumx: 1.8em;
$fontsize-large: 2em; 
$fontsize-xlarge:2.5em; 
$fontsize-xxlarge:3.5em;
$fontsize-super:5em; 
